*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f4f4f4ff;
}

html {
  scroll-behavior: smooth;
}

#outlined-controlled{
  background-color: #1e1e1eff;
  color: #f4f4f4ff;
}


/* style={{ width: '100%', height: '100%', position: 'relative' }} */